/*styling.css*/
body{
    font: Arial, Helvetica, sans-serif;
    background-image: url(images/R.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
#skull{
  float: left;
  margin-left: 10px;
}

#container {
    width: 1050px;
/*    border: 1px solid grey;*/
    margin: 0 auto;
}

#header{
    height: 100px;
    padding: 10px 0;
}
#skull{
  margin-top: 30px;
}
#brand{
    float: left;
}

h1 a{
  font-family: "audimat_monolight";
    font-weight: 100;
    color: green;
    font-size: 50px;
    text-decoration: none;
}

#searchBox{
    float: right;
    background: linear-gradient(black, limegreen);
    background: -webkit-linear-gradient(black, limegreen);
    background: -o-linear-gradient(black, limegreen);
    background: -moz-linear-gradient(black, limegreen);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid #C8D03E;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    border: 1px solid #DCD5E1;
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background: linear-gradient(black, limegreen);
    background: -webkit-linear-gradient(black, limegreen);
    background: -o-linear-gradient(black, limegreen);
    background: -moz-linear-gradient(black, limegreen);
    padding: 7px 0;
}
ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
    margin-left: 30px;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "audimat_monolight";
      font-weight: 100;
      color: #0F0;
      font-size: 20px;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#menu ul li a:hover{
    font-size: 25px;
    font-weight: bold;
    color: red;
  }

#introduction{
    background: linear-gradient(black, limegreen);
    background: -webkit-linear-gradient(black, limegreen);
    background: -o-linear-gradient(black, limegreen);
    background: -moz-linear-gradient(black, limegreen);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
  font-family: "audimat_monolight";
    font-weight: 100;
    color: #0F0;
    font-size: 40px;
}

#upload {
  font-family: "audimat_monolight";
    font-weight: 100;
    color: #0F0;
    text-transform: uppercase
}
#uploadsub{
  color: blue;
  background-image: none;
  background-color: white;
  border-color: black;
}

.footer{
    height: 60px;
    background: linear-gradient(black, limegreen);
    background: -webkit-linear-gradient(black, limegreen);
    background: -o-linear-gradient(black, limegreen);
    background: -moz-linear-gradient(black, limegreen);
    padding: 10px 30px;
    margin-top: 15px;
    font-family: "audimat_monolight";
      font-weight: 100;
      color: #0F0;
      font-size: 23px;
}
